<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The remote display opens a TCP socket to an Open Audio Analyzer host. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Receiving mDNS answers needs multicast delivery, which Android's Wi-Fi
         driver filters out for an app that has not asked for it. This
         permission is what allows the WifiManager.MulticastLock that lifts the
         filter to be taken; taking it is a platform call, and the file that
         makes it is OaaMulticastLock.kt. Install-time, so there is no dialog.
         NEARBY_WIFI_DEVICES is deliberately not declared: it covers scanning
         and managing Wi-Fi networks, which this application never does. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- The host picker's QR scanner. Declared here as well as in
         mobile_scanner's own manifest, which the merger would supply
         anyway: a permission a user is asked for at runtime should be
         findable in the manifest of the application that asks. Runtime,
         so there is a dialog, and a refusal is a sentence in the panel
         rather than a camera that shows nothing. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:label="OAA"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
